@page
@model AFCitizen.Pages.DispatcherModel
@{
    Layout = "_Layout";
}
    <div class="container">
        <div class="jumbotron">
            <h1>@Model.Authority</h1>
            <p>Честно и усердно исполняйте свой долг перед народом! Трудитесь во благо нашей с вами страны!</p>
        </div>
        @if (Model.OpenBlocks.Count() > 0)
        {
            int i = 0;
            <div id="accordion">
                @foreach(var block in Model.OpenBlocks)
                {
                    i++;
                    AFCitizen.Models.Document doc = (AFCitizen.Models.Document)Newtonsoft.Json.JsonConvert.DeserializeObject(block.Document, typeof(AFCitizen.Models.Document));
                    <div class="card">
                        <div class="card-header">
                            <a class="card-link" data-toggle="collapse" href="@($"#collapse{i.ToString()}")">
                                От: @doc.From / Дата: @DateTime.Parse(block.TimeStamp).ToString()
                                <br>
                                Адрес: @doc.Address
                            </a>
                        </div>
                        <div id="@($"collapse{i.ToString()}")" class="collapse hide" data-parent="#accordion">
                            <div class="card-body">
                                <h3 class="text-center">@doc.Type</h3>
                                <p>@doc.Text</p>
                            </div>
                            <div class="card-footer">
                                <button class="btn btn-outline-success btn-block" data-toggle="collapse" data-target="#list">Назначить</button>
                                <div id="list" class="collapse list-group">
                                    @foreach (var person in Model.Employees)
                                    {
                                        <a href="#" class="list-group-item list-group-item-action list-group-item-success">Имя: @person.UserName / Должнасть: @person.Position</a>
                                    }
                                </div>
                                <button class="btn btn-outline-primary btn-block">Перенаправить</button>
                                <button class="btn btn-outline-danger btn-block" data-toggle="collapse" data-target="#close">Закрыть</button>
                                <div id="close" class="collapse">
                                    <form asp-page-handler="Close" method="post">
                                        <input name="blockId" type="hidden" value="@block.Id" />
                                        <div class="form-group">
                                            <h3 class="text-center">Ответ</h3>
                                            <textarea name="reply" class="form-control" style="resize:none; width:100%; height:400px"></textarea>
                                        </div>
                                        <div class="form-group">
                                            <h5 class="text-center">Комментарий</h5>
                                            <textarea name="comment" class="form-control" style="resize:none; width:100%; height:200px"></textarea>
                                        </div>
                                        <button type="submit" class="btn btn-outline-danger btn-block">Подтвердить закрытие</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        }
    </div>